{% extends "maintemplate.html" %}

{% block title %}Advertise{% endblock %}

{% block style %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery-ui-1.10.2.custom.min.css') }}" />

<style type="text/css">
	label.control-label {
		font-weight:bold;
	}
	
	.th-fixed-width {
		width: 140px;
	}
	
	.highlight {
		background-color: yellow !important;
	}
</style>

{% endblock %}

{% block script %}

<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-ui-1.10.2.custom.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/maskedinput.js') }}"></script>

<script type="text/javascript">
	
	$(function() {
		$(".tooltip-button").tooltip({trigger: "hover"});
	});
	
	var sendList = {};
	
	function sendNow() {
		sendList["schedule"] = "now";
		submit();
	}
	
	function schedule() {
		var scheduleTime;
		sendList["schedule"] = scheduleTime;
		submit();
	}
	
	function submit() {
		// Store selected message in JSON
		sendList["msgTemplate"] = $("#selectMessage :selected").attr("id");
		
		// Loop through selected rows and add guest_ID to guestList
		var guestList = []
		var counter = 0
		$('input[type=checkbox]').each(function () {
			if($(this).attr('id')!="masterCheckbox" && $(this).prop('checked')==true) {
				// Store as 
				//guestList.push({guest_ID: $(this).attr('id').substring($(this).attr('id').indexOf("-")+1)});
				//sendList.guestList[counter].guest = $(this).attr('id').substring($(this).attr('id').indexOf("-")+1);
				sendList["guest" + counter] = $(this).attr('id').substring($(this).attr('id').indexOf("-")+1);
				counter=counter+1
			}
		});
		
		// Add guestList to sendList
		//sendList["guestList"] = guestList
	
		if(true) {
			//$("#smsValidationError").hide();
			//$("#emailValidationError").hide();
			//$("#nameValidationError").hide();
			$("#submitButton").attr("disabled", "disabled");
			$.ajax({
				url:"/send_promos",
				type: 'POST',
				data: sendList,
				success: function(data) {
					$("#submitSuccessInitiated").show();
					resetForm(5);
					$("#submitError").hide();
				},
				error: function() {
					$("#submitError").show();
					$("#submitSuccessInitiated").hide();
					$("#submitButton").removeAttr("disabled");
				}
			});
		} else {
			$("#submitSuccessInitiated").hide();
			$("#submitError").hide();
		}
		return false;
	}
	
	function resetForm(delay) {
		delay = (typeof delay === "undefined") ? 0 : delay;
		window.setTimeout(function() {
			$("#submitSuccessInitiated").hide();
			$("#masterCheckbox").prop('checked',false);
			uncheckAllBoxes();
			$("#selectMessage").val($("#selectMessagePlaceholder").text());
		}, delay * 1000);
	}
	
	function optOut(guest_ID, firstName) {
		$.get("/optout_guest/" + guest_ID, function(data) {
			$("#undoLink").attr("onclick","undo_optout('" + guest_ID + "')");
			$("#guest-" + guest_ID).hide();
			$("#undoMessage").show();
			autoClose("#undoMessage",5);
			$("#undoMessageName").text(firstName);
		});
	}
	
	function undo_optout(guest_ID) {
		$.get("/undo_optout_guest/" + guest_ID, function(data) {
			$("#guest-" + guest_ID).show();
			$("#undoMessage").hide();
		});
	}
	
	function showNewMessageModal() {
		$("#newMessageModal").modal('show');
	}
	
	function createNewMessageTemplate() {
		var templateText = $("#newMessageText").val();
		var templateName = $("#newMessageName").val();
		$.ajax({
			type: "POST",
			url: "/new_promo",
			data: {'templateName': templateName, 'templateText': templateText},
			cache: false
		})
		.done(function() {
			// Update options
			location.reload(); // Should be done thru ajax, but this a shortcut
		}).fail(function() {
		});
		$("#newMessageModal").modal('hide');
	}
	
	// TODO: Use http://jsfiddle.net/VrkA3/1/ to change mastercheckbox when some are checked (should be a minus sign, like gmail)
	
	$("#masterCheckbox").click( function(){
		checkBoxes();
	});
	
	$(".guest-checkbox").click(function() {
		var checkedBoxes = countCheckboxes();
		if(checkedBoxes==0) {
			checkBoxes();
		} else if (checkedBoxes==$('#optins-table tr:visible').length-1) {
			checkBoxes();
		}
		updateCount(checkedBoxes);
	});
	
	function countCheckboxes() {
		var counter = 0;
		$('input[type=checkbox]').each(function () {
			if($(this).attr('id')!="masterCheckbox" && $(this).prop('checked')==true) {
				counter=counter+1
			}
		});
		return counter;
	}
	
	function updateCount(checkedBoxes) {
		if(checkedBoxes==0) {
			// Update text and disable send button
			$("#recipientsSelected").text("No recipients selected (select below)");
			disableSendNow();
		} else {
			// Update text and enable send button if a message is selected
			$("#recipientsSelected").text(checkedBoxes + " recipients selected");
			if($("#selectMessage :selected").attr("id")=="selectMessagePlaceholder") {
				disableSendNow();
			} else {
				enableSendNow();
			}
		}
	}
	
	// Enable/disable button based on selection of message
	$('#selectMessage').change(function () {
		if($("#selectMessage :selected").attr("id")=="selectMessagePlaceholder") {
			// Placeholder is selected, disable button
			disableSendNow();
		} else {
			// Message is selected, enable button if recipients > 0, otherwise disable
			if(countCheckboxes()!=0) {
				enableSendNow();
			} else {
				disableSendNow();
			}
		}
	});
	
	function enableSendNow(){
		// Remove disabled class, remove tooltip, add onclick
		$("#sendNowButton").removeClass("disabled");
		$("#sendNowButton").tooltip("disable");		
		$("#sendNowButton").attr("onclick","sendNow()");
	}
	
	function disableSendNow() {
		// Add disabled class, add tooltip, remove onclick
		$("#sendNowButton").addClass("disabled");
		$("#sendNowButton").tooltip("enable");
		$("#sendNowButton").attr("onclick","");
	}
	
	function checkBoxes() {
		// Swap checkbox checked property (making the button able to check or uncheck)
		$("#masterCheckbox").prop('checked',!$("#masterCheckbox").is(':checked'));
		if($("#masterCheckbox").is(':checked')) {
			checkAllBoxes();
		} else {
			uncheckAllBoxes();
		}
	}
	
	function checkAllBoxes() {
		$('input[type=checkbox]').each(function () {
			if($(this).attr('id')!="masterCheckbox") {
				$(this).prop('checked', true);
			}
		});
		updateCount($('#optins-table tr:visible').length-1);
	}
	
	function uncheckAllBoxes() {
		$('input[type=checkbox]').each(function () {
			if($(this).attr('id')!="masterCheckbox") {
				$(this).prop('checked', false);
			}
		});
		updateCount(0);
	}
	
	function hide_undo_message() {
		$("#undoMessage").hide();
		// TODO: Once the undo message is hidden, the row should be removed
		return false;
	}
	
	function autoClose(selector, delay) {
		window.setTimeout(function() { $(selector).hide() }, delay * 1000);
	}
</script>

{% endblock %}

{% block content %}

<div id="newMessageModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="newMessageModalLabel" aria-hidden="true">
  <div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h3 id="newMessageModalLabel">Create New Message Template</h3>
  </div>
  <div class="modal-body">
	<input type="text" id="newMessageName" style="width:510px" placeholder="Enter name of coupon or promo message (for reference)...">
	<textarea id="newMessageText" style="width:510px" rows="4" placeholder="Enter text of coupon or promo message..."></textarea>
  </div>
  <div class="modal-footer">
	<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
	<button class="btn btn-inverse" onclick="createNewMessageTemplate()">Create</button>
  </div>
</div>

<div class="span6 offset3" style="position: absolute;">
	<div id="undoMessage" class="alert alert-success" style="display: none;">
		<a class="close" onclick="hide_undo_message()">&times;</a>
		<span id="undoMessageName"></span> has been checked in.&nbsp;&nbsp;
		<strong><a id="undoLink" onclick class="alert-link">Undo</a></strong>
	</div>
</div>

<div class="row">
	<div class="span12">
		<h3>Send Coupons and Promos</h3>
		<form class="form-horizontal" id="messageForm" action="false" style="margin-bottom:0px">
			<fieldset>	
				<div class="control-group">
					<label for="message" class="control-label">Message</label>
					<div class="controls">
						<select id="selectMessage">
							<option id="selectMessagePlaceholder">Select Message...</option>
							{% for msg in msgTemplates %}
								<option id="{{msg.msgID}}">{{ msg.msgName }}</option>
							{% endfor %}
						</select>
						<a class="btn btn-primary" id="createNewTemplateButton" onclick="showNewMessageModal()">Create New</a>
					</div>
				</div>
				
				<div class="control-group">
					<label class="control-label">Recipients</label>
					<div class="controls" style="margin-top:5px">
						<p id="recipientsSelected">No recipients selected (select below)</p>
					</div>
				</div>
				
				<a id="sendNowButton" class="btn btn-primary tooltip-button disabled" style="margin-left:180px" 
					data-toggle="tooltip" data-placement="bottom" title="Please select a message and include recipients before attempting to send now.">
					Send Now
				</a>
				<a id="scheduleButton" class="btn btn-inverse tooltip-button disabled" style="margin-left:6px"
					data-toggle="tooltip" data-placement="bottom" title="Scheduling messages is currently under development and not yet available.">
					Schedule
				</a>
			</fieldset>
		</form>
		<div class="row">
			<div class="span12">
				
				<div id="submitError" class="alert alert-error" style="display:none;">
					<strong>Unable to send messages</strong>&nbsp; Something went wrong. Please try again later. If the problem persists, please report a bug (link in footer).
				</div>
				
				<div id="submitSuccessInitiated" class="alert alert-success" style="display:none;">
					The server has initiated sending the specified messages.
				</div>
				
				<div id="submitSuccessScheduled" class="alert alert-success" style="display:none;">
					The specified messages have successfully been scheduled.
				</div>
				
			</div>
		</div>
	</div>
</div>
<hr>
<div class="row">
	<div class="span12">
		<table id="optins-table" class="table table-bordered" style="width:100%">
			<thead>
				<tr>
					<th style="width:30px">
						<a class="btn" id="masterCheckboxButton" onclick="checkBoxes()" style="width:15px"><input type="checkbox" id="masterCheckbox" style="margin-top:-4px"></a>
					</th>
					<th>
						Name
					</th>
					<th class="th-fixed-width">
						Date Subscribed
					</th>
					<th class="th-fixed-width">
						Signup Method
					</th>
					<th class="th-fixed-width">
						# Promos Sent
					</th>
					<th style="width:84px">
						Remove
					</th>
				</tr>
			</thead>
			<tbody>
				{% for optin in optInList %}
					<tr id="guest-{{optin.guest_ID}}">
						<td>
							<input type="checkbox" class="guest-checkbox" style="margin-left:14px" id="checkbox-{{optin.guest_ID}}">
						</td>
						<td>
							{{optin.name}}
						{% if optin.name %}<br>&nbsp;&nbsp;&nbsp;{% endif %}<em>{{optin.smsNumber}}{{optin.email}}</em>
						</td>
						<td>
							{{ optin.subscribe_date }}
						</td>
						<td>
							{{ optin.signup_method }}
						</td>
						<td>
							{{ optin.promos_sent }}
						</td>
						<td>
							<a class="btn btn-danger btn-small" onclick="optOut('{{ optin.guest_ID }}','{{ optin.name }}')"><i class="icon-remove"></i>&nbsp;&nbsp;Remove</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>


{% endblock %}