{% extends "maintemplate.html" %}

{% block title %}Advertise{% endblock %}

{% block style %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery-ui-1.10.2.custom.min.css') }}" />

<style type="text/css">
	label.control-label {
		font-weight:bold;
	}
	
	.th-fixed-width {
		width: 140px;
	}
	
	.highlight {
		background-color: yellow !important;
	}
</style>

{% endblock %}

{% block script %}

<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-ui-1.10.2.custom.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/maskedinput.js') }}"></script>

<script type="text/javascript">
	
	var sendList = [];
	
	function sendNow() {
		sendList.push({schedule: "now"});
		submit();
	}
	
	function schedule() {
		var scheduleTime;
		sendList.push({schedule: scheduleTime});
		submit();
	}
	
	function submit() {
		// Loop through selected rows and add guest_ID to sendList
		$('input[type=checkbox]').each(function () {
			if($(this).attr('id')!="masterCheckbox") {
				// Get guest ID
				sendList.push({guest: $(this).attr('id').substring($(this).attr('id').indexOf("-")+1)});
			}
		});
		
		alert(sendList);
	
		if(true) {
			//$("#smsValidationError").hide();
			//$("#emailValidationError").hide();
			//$("#nameValidationError").hide();
			$("#submitButton").attr("disabled", "disabled");
			$.ajax({
				url:"/advertise",
				type: 'POST',
				data: sendList,
				success: function(data) {
					$("#submitError").hide();
				},
				error: function() {
					$("#submitError").show();
					$("#submitSuccess").hide();
					$("#submitButton").removeAttr("disabled");
				}
			});
		} else {
			$("#submitSuccess").hide();
			$("#submitError").hide();
		}
		return false;
	}
	
	function showNewMessageModal() {
		$("#newMessageModal").modal('show');
	}
	
	function createNewMessageTemplate() {
		var templateText = $("#newMessageText").val();
		var templateName = $("#newMessageName").val();
		$.ajax({
			type: "POST",
			url: "/new_promo",
			data: {'templateName': templateName, 'templateText': templateText},
			cache: false
		})
		.done(function() {
			// Update options
			location.reload();
			//$("#submitSuccess").show();
			//$("#submitError").hide();
		}).fail(function() {
			//$("#submitError").show();
			//$("#submitSuccess").hide();
		});
		$("#newMessageModal").modal('hide');
	}
	
	$("#masterCheckbox").click( function(){
		checkBoxes();
	});
	
	// TODO: Catch event of any checkbox, check if all checkboxes are checked and if so check master checkbox (also do inverse when none are checked)
	// TODO: For every change in checking, update "Recipients" with the correct number of checked rows
	
	function checkBoxes() {
		// Swap checkbox checked property (making the button able to check or uncheck)
		$("#masterCheckbox").prop('checked',!$("#masterCheckbox").is(':checked'));
		if($("#masterCheckbox").is(':checked')) {
			checkAllBoxes();
		} else {
			uncheckAllBoxes();
		}
	}
	
	function checkAllBoxes() {
		$('input[type=checkbox]').each(function () {
			if($(this).attr('id')!="masterCheckbox") {
				$(this).prop('checked', true);
			}
		});
	}
	
	function uncheckAllBoxes() {
		$('input[type=checkbox]').each(function () {
			if($(this).attr('id')!="masterCheckbox") {
				$(this).prop('checked', false);
			}
		});
	}
	
</script>

{% endblock %}

{% block content %}

<div id="newMessageModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="newMessageModalLabel" aria-hidden="true">
  <div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h3 id="newMessageModalLabel">Create New Message Template</h3>
  </div>
  <div class="modal-body">
	<input type="text" id="newMessageName" style="width:510px" placeholder="Enter name of coupon or promo message (for reference)...">
	<textarea id="newMessageText" style="width:510px" rows="4" placeholder="Enter text of coupon or promo message..."></textarea>
  </div>
  <div class="modal-footer">
	<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
	<button class="btn btn-inverse" onclick="createNewMessageTemplate()">Create</button>
  </div>
</div>

<div class="row">
	<div class="span12">
		<h3>Send Coupons and Promos</h3>
		<form class="form-horizontal" id="messageForm" action="false" style="margin-bottom:0px">
			<fieldset>	
				<div class="control-group">
					<label for="message" class="control-label">Message</label>
					<div class="controls">
						<select id="selectMessage">
							<option>Select Message...</option>
							{% for msg in msgTemplates %}
								<option value="{{msg.msgID}}">{{ msg.msgName }}</option>
							{% endfor %}
						</select>
						<a class="btn btn-primary" id="createNewTemplateButton" onclick="showNewMessageModal()">Create New</a>
					</div>
				</div>
				
				<div class="control-group">
					<label class="control-label">Recipients</label>
					<div class="controls">
						<p>No recipients selected (select below)</p>
					</div>
				</div>
				
				<a id="sendNowButton" class="btn btn-primary" onclick="sendNow();" style="margin-left:180px">
					Send Now
				</a>
				<a id="scheduleButton" class="btn btn-inverse" disabled style="margin-left:6px">
					Schedule
				</a>
			</fieldset>
		</form>
		<div class="row">
			<div class="span12">
				
				<div id="submitError" class="alert alert-error" style="display:none;">
					<strong>Unable to send messages</strong>&nbsp; Something went wrong. Please try again later. If the problem persists, please report a bug (link in footer).
				</div>
				
				<div id="submitSuccess" class="alert alert-success" style="display:none;">
					Messages sent successfully
				</div>
				
			</div>
		</div>
	</div>
</div>
<hr>
<div class="row">
	<div class="span12">
		<table class="table table-bordered" style="width:100%">
			<thead>
				<tr>
					<th style="width:30px">
						<a class="btn" id="masterCheckboxButton" onclick="checkBoxes()" style="width:15px"><input type="checkbox" id="masterCheckbox" style="margin-top:-4px"></a>
					</th>
					<th>
						Name
					</th>
					<th class="th-fixed-width">
						Date Subscribed
					</th>
					<th class="th-fixed-width">
						Signup Method
					</th>
					<th class="th-fixed-width">
						# Promos Sent
					</th>
					<th style="width:84px">
						Remove
					</th>
				</tr>
			</thead>
			<tbody>
				{% for optin in optInList %}
					<tr id="guest-{{optin.guest_ID}}">
						<td>
							<input type="checkbox" style="margin-left:14px" id="checkbox-{{optin.guest_ID}}">
						</td>
						<td>
							{{ optin.name }}
						</td>
						<td>
							{{ optin.subscribe_date }}
						</td>
						<td>
							{{ optin.signup_method }}
						</td>
						<td>
							{{ optin.promos_sent }}
						</td>
						<td>
							<a class="btn btn-danger btn-small" onclick="optOut('{{ optin.guest_ID }}'"><i class="icon-remove"></i>&nbsp;&nbsp;Remove</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>


{% endblock %}