{% extends "maintemplate.html" %}

{% block title %}Guest Sign-in{% endblock %}

{% block style %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery-ui-1.10.2.custom.min.css') }}" />

<style type="text/css">
	label.control-label {
		font-weight:bold;
	}
</style>

{% endblock %}

{% block script %}

<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-ui-1.10.2.custom.min.js') }}"></script>

<script type="text/javascript">

	if("{{demo}}"=="continue") {
		var o = $("#privacy-well").offset();
		$("#tour3").css("left", o.left);
		$("#tour3").show();
	}

	function submit() {
		if(true) { // TODO: incorporate validate
			$("#validationError").hide();
			$("#submitButton").attr("disabled", "disabled");
			$.ajax({
				url:"/guest-signin{% if demo=='continue' %}?demo=continue{% endif %}",
				type: 'POST',
				data: $("#submissionForm").serialize(),
				success: function(data) {
					$("#submitError").hide();
					//set timer for success message and reset the form to its default
					window.setTimeout(function() { formDefault() }, 3000);
					$("#submitSuccess").show().delay(3000).fadeOut();
					if("{{demo}}"=="continue") {
						window.location = "{{ url_for('manage') }}" + "?demo=continue";
					}
					
				},
				error: function() {
					$("#submitError").show();
					$("#submitSuccess").hide();
					$("#submitButton").removeAttr("disabled");
				}
			});
		}
		else {
			$("#validationError").show();
			$("#submitSuccess").hide();
			$("#submitError").hide();
		}
		return false;
	}
	
	function formDefault() {
		$("#firstName").val('');
		$("#lastName").val('');
		$("#contactInfo").val('');
		$("#preferredContactSMS").prop('checked', true);
		$("#submitButton").removeAttr("disabled");
		if ("{{user.default_checkbox_promos }}"=="True") {
			$("#optIn").prop('checked', true);
		}else {
			$("#optIn").prop('checked', false);
		}
	}
	
	function validate() {
		var validateNames = ["submitterName","submitterEmail","issueName","issueType","issueDescription"]
		
		// Test that each field to see if it has at least one letter or number
		for (var i = 0; i < validateNames.length; i++) {	
			var validates = true;
			var reName = /\w/;
			if(!reName.test($("#" + validateNames[i]).val())) {
				validates = false;
				$("#" + validateNames[i]).parent().removeClass("success").addClass("error");
				$("#" + validateNames[i] + "Help").show();
			}
			else {
				$("#" + validateNames[i]).parent().removeClass("error").addClass("success");
				$("#" + validateNames[i] + "Help").hide();
				// Test that the issue description does not exceed 2000 characters
				if(validateNames[i]=="issueDescription") {
					if($("#issueDescription").val().length > 2000) {
						validates = false;
						$("#issueDescription").parent().removeClass("success").addClass("error");
						$("#issueDescriptionHelp").show();
					}
				}
			}
		}
		
		return validates;
	}
	
	function togglePreferred() {
		if($('input[name=preferredContact]:radio:checked').val()=="sms") {
			$("#contactInfoLabel").text("Phone Number");
			$("#contactInfo").attr("name","smsNumber");
			$("#contactInfo").attr("type","tel");
			$("#contactInfo").attr("placeholder","e.g., 801-555-5555");
		} else if($('input[name=preferredContact]:radio:checked').val()=="email") {
			$("#contactInfoLabel").text("Email Address");
			$("#contactInfo").attr("name","email");
			$("#contactInfo").attr("type","email");
			$("#contactInfo").attr("placeholder","e.g., john.doe@example.com");
		}
	}
	
	//submit the form when enter is pressed
	$(function() {
		$('form').each(function() {
			$(this).find('input').keypress(function(e) {
				// Enter pressed?
				if(e.which == 10 || e.which == 13) {
					this.form.submit();
				}
			});

			$(this).find('input[type=submit]').hide();
		});
	});
</script>

{% endblock %}

{% block content %}
<div class="row">
	<div class="span5">
		<form class="form-horizontal" id="submissionForm" action="javascript:submit()" style="margin-bottom:0px">
			<fieldset>	
				<legend><h3>Guest Sign-in</h3></legend>
				
				<div class="control-group">
					<label for="firstName" class="control-label">First Name</label>
					<div class="controls">
						<input type="text" id="firstName" name="firstName" placeholder="e.g., John" inputmode="autocapitalized" autocapitalize="on" autocorrect="off">
					</div>
					<span id="firstNameHelp" class="help-inline" style="display: none;">Please enter your first name.</span> 
				</div>

				<div class="control-group"> 
					<label for="lastName" class="control-label">Last Name</label>
					<div class="controls">
						<input type="text" id="lastName" name="lastName" placeholder="e.g., Doe" inputmode="autocapitalized" autocapitalize="on" autocorrect="off">
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">Notify me by</label>
					<div class="controls">
						<div class="radio">
							<label>
								<input type="radio" name="preferredContact" id="preferredContactSMS" value="sms" onClick="togglePreferred()" checked>Text Message
							</label>
						</div>
						<div class="radio">
							<label>
								<input type="radio" name="preferredContact" id="preferredContactEmail" value="email" onClick="togglePreferred()">Email
							</label>
						</div>
					</div>
				</div>
				
				<div class="control-group">
					<label for="contactInfo" id="contactInfoLabel" class="control-label">Phone Number</label>
					<div class="controls">
						<input type="tel" id="contactInfo" name="smsNumber" placeholder="e.g., 801-555-5555" autocapitalize="off" autocorrect="off">
					</div>
				</div>
				
				<div class="control-group">
					<label for="optIn" class="control-label">Optional</label>
					<div class="controls">
						<label class="checkbox">
							<input type="checkbox" id="optIn" name="optIn" {% if user.default_checkbox_promos %}checked{% endif %}>
							Please send me coupons and promos
						</label>
					</div>
				</div>
				
				<div class="control-group">
					<label for="submitButton" class="control-label"></label>
					<a type="submit" id="submitButton" class="btn btn-inverse" onclick="submit();">
						Submit
					</a>
				</div>
			</fieldset>
		</form>
		<div class="row">
			<div class="span4">
				
				<div id="validationError" class="alert alert-error" style="display:none;">
					<strong>Unable to submit info</strong>&nbsp; Please fix the errors and try again.
				</div>
				
				<div id="submitError" class="alert alert-error" style="display:none;">
					<strong>Unable to submit info</strong>&nbsp; Something went wrong. Please see the host.
				</div>
				
				<div id="submitSuccess" class="alert alert-success" style="display:none;">
					Your name has successfully been added to the waitlist</strong>
				</div>
				
			</div>
		</div>
	</div>
	<div class="span1">
	</div>
	<div class="span5">
		<div class="well" id="privacy-well">
			<h3>Privacy Policy</h3>
			<ul>
				<li>Your information will never be shared with anyone</li>
				<li>We'll send you a message when your table is almost ready</li>
				<li>We'll only send followup messages if you reply or don't show</li>
				<li>We'll only send you promos if you've checked the promo box</li>
			</ul>
		</div>
	</div>
</div>

<div id="tour3" class="tooltip fade right in" style="top: 300px; left: 620px; display: none;width: 400px;" opacity:0.9>
	<div class="tooltip-arrow" style="border-right-color:#d41e24">
	</div>
	<div class="tooltip-inner" style="background-color:#d41e24">
		<div style="font-size: 12pt; text-align: left;">
		Guests enter their information here. Try it out by adding your information. Don't worry, all guests signed in during a demo session will be cleared when you sign out.<br><br>Once you enter the information and click "Submit", this tour will continue.
		</div>
	</div>
</div>

{% endblock %}