{% extends "maintemplate.html" %}

{% block title %}Manage{% endblock %}

{% block style %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery-ui-1.10.2.custom.min.css') }}" />

<style type="text/css">
	a.alert-link {
		color: #dd5600;
		cursor: pointer;
	}
	
	a.alert-link:hover {
		color: #dd5600;
	}
</style>

{% endblock %}

{% block script %}

<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-ui-1.10.2.custom.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.tablesorter.min.js') }}"></script>

<script type="text/javascript">
	
	if("{{demo}}"=="start") {
		$("#tour1").show();
	}
	
	function tour2() {
		$("#tour1").hide();
		$("#guest-signin-link").attr("href", "{{ url_for('guest_signin') }}" + "?demo=continue");
		$("#guest-signin-link").removeAttr("target");
		var o = $("#guest-signin-link").offset();
		$("#tour2").css("left", o.left - 39);
		$("#tour2").show();
	}
	
	function tour3() {
		window.location = "{{ url_for('guest_signin') }}" + "?demo=continue";
	}
	
	if("{{demo}}"=="continue") {
		$("#tour4").show();
	}
	
	function tour4() {
		$("#tour5").hide();
		$("#tour4").show();
	}
	
	function tour5() {
		$("#tour4").hide();
		$("#tour6").hide();
		$("#tour5").show();
	}
	
	function tour6() {
		$("#tour5").hide();
		$("#tour6").show();
	}
	
	function tour7() {
		$("#tour6").hide();
		$("#tour7").modal('show');
	}
	
	var lastRemoveGuestID;
	var lastRemoveLink;
	
	function hide_undo_message() {
		$("#undoMessage").hide();
		return false;
	}
	
	function checkIn(guestID, firstName, lastName, button) {
	// Check in item user is lending
		$.ajax({
			url: "/checkin/" + guestID,
			type: 'GET',
			success: function(data) {
				$(button).parent().parent().hide();
				$("#reminderSent").hide();
				$("#undoMessage").show();
				$("#undoMessageName").text(firstName + ' ' + lastName);
				lastRemoveGuestID = guestID;
				lastRemoveLink = button; // for some reason nothing is coming through. It worked in managelibrary.html
				if($("#guestQueue tr:visible").length == 1) {
					$("#guestQueue").html("<tr><td colspan='4'>There are no guests in the queue. Once guests have signed in, they'll show up here.</td></tr>");
				}
			}
		});
		
		return false;
	}
	
	function hide_undo_message() {
		$("#undoMessage").hide();
		return false;
	}
	
	function hide_sent_message() {
		$("#reminderSent").hide();
		return false;
	}
	
	function undo_checkin() {
		$.get("/undo_checkin/" + lastRemoveGuestID, function(data) {
			$(lastRemoveLink).parent().parent().show();
			$("#undoMessage").hide();
		})
		return false;
	}
	
	function sendDefaultMsg(guestID, firstName, lastName, button) {
		$.get("/send_default/" + guestID, function(data) {
			$("#undoMessage").hide();
			$("#reminderSent").show();
			$("#reminderName").text(firstName + ' ' + lastName);
		})
	}
	
	function customMsgModal(guestID, firstName, lastName, button) {
		var msg = decodeEntities("{{ cur_user.default_msg_ready }}");
		var msg = msg.replace("{firstName}",firstName);
		var msg = msg.replace("{lastName}",lastName);
		$("#customMsgModalText").text(msg);
		$("#sendCustomMsgButton").attr("onClick","sendCustomMsg('" + guestID + "', '" + firstName + "', '" + lastName + "',this)");
		$("#customMsgModal").modal('show');
		// Add guestID to onClick for send button (for calling sendCustomMsg)
	}
	
	function sendCustomMsg(guestID, firstName, lastName, button) {
		var msg = $("#customMsgModalText").val();
		$.ajax({
			type: "POST",
			url: "/send_custom/" + guestID,
			data: {'msg': msg},
			cache: false
		})
		.done(function(data) {
			$("#customMsgModal").modal('hide');
			$("#undoMessage").hide();
			$("#reminderSent").show();
			$("#reminderName").text(firstName + ' ' + lastName);
		});
	}
	
	function decodeEntities(s){
		var str, temp= document.createElement('p');
		temp.innerHTML= s;
		str= temp.textContent || temp.innerText;
		temp=null;
		return str;
	}
	
</script>

{% endblock %}

{% block content %}

<div id="tour2" class="tooltip fade bottom in" style="top: 50px; left: 230px; display: none;width: 200px;">
	<div class="tooltip-arrow">
	</div>
	<div class="tooltip-inner">
		<div style="font-size: 12pt; text-align: left;">
		Click "Guest Sign-in" to open a new tab where guests can sign in.
		</div>
		<a id="tour2prev" class="btn btn-small" style="margin-top:4px" onclick="tour1()">◄</a><a id="tour2next" class="btn btn-small" style="margin-right: -112px;margin-left: 4px; margin-top:4px" onclick="tour3()">►</a>
	</div>
</div>

<div id="tour7" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="demoModalLabel" aria-hidden="true">
  <div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h3 id="demoModalLabel">Bump Demo</h3>
  </div>
  <div class="modal-body">
	<p>
		Thank you for touring Bump. Feel free to continue to try it out. 
		If you'd like to participate in Bump's private beta, please enter your contact information on the main page 
		(just click the bump logo and scroll to the bottom). We hope you've enjoyed Bump. Thanks!
	</p>
  </div>
  <div class="modal-footer">
	<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>

<div class="row" style="position: relative">
	<div class="span6 offset3" style="position: absolute;">
		<div id="undoMessage" class="alert" style="display: none;">
			<a class="close" onclick="hide_undo_message()">&times;</a>
			<span id="undoMessageName"></span> has been checked in.&nbsp;&nbsp;
			<strong><a onclick="undo_checkin()" class="alert-link">Undo</a></strong>
		</div>
	</div>
	<div class="span6 offset3" style="position: absolute;">
		<div id="reminderSent" class="alert alert-success" style="display: none;">
			<a class="close" onclick="hide_sent_message()">&times;</a>
			You have sent a message to <span id="reminderName"></span>. To remove a guest from the queue, click the "Check In" button.
		</div>
	</div>
	
	<div id="customMsgModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="customMsgModalLabel" aria-hidden="true">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3 id="customMsgModalLabel">Send Custom Message</h3>
	  </div>
	  <div class="modal-body">
		<textarea id="customMsgModalText" rows="3" style="width:516px"></textarea>
	  </div>
	  <div class="modal-footer">
		<button id="sendCustomMsgButton" class="btn btn-primary" dat-dismiss="modal" area-hidden="true" onClick="sendCustomMsg()">Send</button>
		<button class="btn" data-dismiss="modal" aria-hidden="true">Continue</button>
	  </div>
	</div>
	
	<div class="span12">
		<h3>Manage Queue</h3>
			<table class="table table-striped table-bordered" id="guestQueue">
            {% if guestlist|length < 1 %}
				<tbody>
					<tr>
					<td colspan="4">There are no guests in the queue. Once guests have signed in, they'll show up here.</td>
				</tbody>
            {% else %}
				<thead>
					<tr>
						<th class="header">Name</th>
						<th class="header">Contact</th>
						<th class="header">Check-in Time</th>
						<th class="header" style="width:260px">Actions</th>
					</tr>
				</thead>
				<tbody>
				{% for guest in guestlist %}
					<tr>
						<td>{{guest.firstName}} {{guest.lastName}}</td>
						<td>{% if guest.sms %}{{guest.sms}}{% endif %}{% if guest.email%}{{guest.email}}{% endif %}</td>
						<td>{{guest.checkin_time}}</td>
						<td style="text-align:center">
							<a class="btn btn-primary btn-small" onclick="sendDefaultMsg('{{guest.id}}','{{guest.firstName}}','{{guest.lastName}}',this)">
								<i class="icon-envelope-alt"></i>&nbsp;&nbsp;Default
							</a>
							<a class="btn btn-primary btn-inverse btn-small" onclick="customMsgModal('{{guest.id}}','{{guest.firstName}}','{{guest.lastName}}',this)">
								<i class="icon-edit"></i>&nbsp;&nbsp;Custom
							</a>
							<a class="btn btn-success btn-small" onclick="checkIn('{{guest.id}}','{{guest.firstName}}','{{guest.lastName}}',this)">
								<i class="icon-ok"></i>&nbsp;&nbsp;Check In
							</a>
						</td>
					</tr>
				{% endfor %}
				</tbody>
			{% endif %}
			<div id="tour1" class="tooltip fade bottom in" style="top: 100px; left: 30px; display: none;">
				<div class="tooltip-arrow">
				</div>
				<div class="tooltip-inner">
					<div style="font-size: 12pt; text-align: left;">
					This is where you manage your waitlist. Once guests have signed in, you can send text and email notifications and check in guests. To try it out, we'll first need to check a guest in.
					</div>
					<a id="tour1next" class="btn btn-small" style="margin-left:466px" onclick="tour2()">►</a>
				</div>
			</div>
			<div id="tour4" class="tooltip fade bottom in" style="top: 130px; left: 850px; display: none;width: 250px;">
				<div class="tooltip-arrow">
				</div>
				<div class="tooltip-inner">
					<div style="font-size: 12pt; text-align: left;">
					Click "Default" to send your default notification message, defined in your settings (cannot update settings in demo mode). The message will be sent to the contact's preferred contact method (SMS or Email).
					</div>
					<a id="tour4next" class="btn btn-small" style="margin-right: -200px;" onclick="tour5();">►</a>
				</div>
			</div>
			<div id="tour5" class="tooltip fade bottom in" style="top: 130px; left: 930px; display: none;width: 250px;">
				<div class="tooltip-arrow">
				</div>
				<div class="tooltip-inner">
					<div style="font-size: 12pt; text-align: left;">
					Click "Custom" to create and send a custom message.
					</div>
					<a id="tour5prev" class="btn btn-small" style="margin-top:4px" onclick="tour4()">◄</a><a id="tour5next" class="btn btn-small" style="margin-right: -160px;margin-left: 4px; margin-top:4px" onclick="tour6()">►</a>
				</div>
			</div><div id="tour6" class="tooltip fade bottom in" style="top: 130px; left: 1020px; display: none;width: 250px;">
				<div class="tooltip-arrow">
				</div>
				<div class="tooltip-inner">
					<div style="font-size: 12pt; text-align: left;">
					Click "Check In" to check in your guest and remove the guest from the queue. If your guest opted-in to receiving coupons or promos, you'll still have access to the his/her contact info.
					</div>
					<a id="tour6prev" class="btn btn-small" style="margin-top:4px" onclick="tour5()">◄</a><a id="tour6next" class="btn btn-small" style="margin-right: -160px;margin-left: 4px; margin-top:4px" onclick="tour7()">►</a>
				</div>
			</div>
          </table>
	</div>
    
</div>

{% endblock %}
