
{% extends "maintemplate.html" %}

{% block title %}Settings{% endblock %}

{% block style %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery-ui-1.10.2.custom.min.css') }}" />

{% endblock %}

{% block script %}

<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-ui-1.10.2.custom.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/settings.js') }}"></script>

<script type="text/javascript">

	function submit() {
		if(validate()) {
			$("#validationError").hide();
			$.post("\settings", $("#settingsForm").serialize())
			.done(function() {
				$("#submitSuccess").show();
				$("#submitError").hide();
			}).fail(function() {
				$("#submitError").show();
				$("#submitSuccess").hide();
			});
		}
		else {
			$("#validationError").show();
			$("#submitSuccess").hide();
			$("#submitError").hide();
		}
		
		return false;
	}
	
	function validate() {
		var validates = true;
		return validates;
	}
	
	function confirm_delete_account() {
		$("#deleteModal").modal('show');
	}
	
	function delete_account() {
		// delete account
		$("#deleteModal").modal('hide');
        $.get("/delete")
          .done(function(data) {
              if (data == "Success") {
                $("#deleteError").hide();
                $("#deleteSuccess").show();
                window.location = "/logout";
              } else {
                $("#deleteError").show();
                $("#deleteSuccess").hide();
              }
          }).fail(function() {
              $("#deleteError").show();
              $("#deleteSuccess").hide();
          });
        return false;
	}

</script>

{% endblock %}

{% block content %}

<div id="deleteModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3 id="deleteModalLabel">Are you sure?</h3>
  </div>
  <div class="modal-body">
    <p>If you delete your account it will be gone forever!</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger" onclick="delete_account()">Delete Account</button>
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
  </div>
</div>

<form id="settingsForm" method="post" action="/settings">

<div class="row">
	<div class="span5">
		
		<h3>Default Message</h3>
		<p>Enter your default message for table reminders. Use {firstName} or {lastName} to use the guest's first or last name.
		<div class="control-group">
			<textarea name="defaultMessage" id="defaultMessage" rows="3" style="width:400px"
			placeholder="Enter the default message to send when a table is almost ready. Use {firstName} and {lastName} to pull in the user's first and/or last name."
			>{{ user.default_msg_ready }}</textarea>
			<span id="defaultMessageHelp" class="help-inline" style="display: none;">Message cannot exceed 140 characters.</span> 
		</div>

		<h3>Default for Promos</h3>
		
		<div class="control-group">
			Default setting for subscribing to coupons/promos:&nbsp;
			<div class="controls">
				<div class="radio">
					<label>
						<input type="radio" name="promoDefault" id="promoDefaultTrue" value="true" onClick="togglePreferred()" {% if user.default_checkbox_promos %}checked{% endif %}>Default to checked (subscribe)
					</label>
				</div>
				<div class="radio">
					<label>
						<input type="radio" name="promoDefault" id="promoDefaultFalse" value="false" onClick="togglePreferred()" {% if not user.default_checkbox_promos %}checked{% endif %}>Default to unchecked (guest must check to subscribe)
					</label>
				</div>
			</div>
			<!--<select id="promoDefault" name="promoDefault" style="vertical-align:baseline">
				<option {% if user.default_checkbox_promos == True %} selected="true" {% endif %} value="true">Default to checked (subscribe)</option>
				<option {% if user.default_checkbox_promos == False %} selected="true" {% endif %} value="false">Default to unchecked (guest must check to subscribe)</option>
			</select>-->
		</div>
		
		<h3>Google Voice Settings</h3>
		<p>Bump uses Google Voice to send text messages. Please provide the email address and password associated with your Google Voice account. Unfortunately, Bump cannot encrypt your Google Voice password on our servers. Please use a Google Account specifically created for Bump.</p>
		<div class="control-group">
			<label>Google Voice Email Address</label>
			<input type="text" name="gvEmail" id="gvEmail" value="{% if user.gv_email %}{{ user.gv_email }}{% else %}{{ user.email}}{% endif %}">
		</div>
		<div class="control-group">
			<label>Google Voice Account Password</label>
			<input type="password" name="gvPW" id="gvPW">
		</div>
		
		<h3>Reply-to Email Address</h3>
		<p>Emails from Bump include a reply-to email address, which ensures that you receive any replies from guests. If different from your Bump account email address, please provide a reply-to email address here.</p>
		<div class="control-group">
			<label>Reply-to Email Address</label>
			<input type="text" name="replyEmail" id="replyEmail" value="{% if user.reply_to_email %}{{ user.reply_to_email }}{% else %}{{ user.email}}{% endif %}">
		</div>
	</div>

	<div class="span3">
		<br>
		<div class="well">
			<h3 style="margin-top:-8px">Delete Account</h3>
			<div id="deleteError" class="alert alert-error" style="display:none;">
			  <strong>Account not deleted</strong>&nbsp; An error has ocurred.
			</div>
			<div id="deleteSuccess" class="alert alert-success" style="display:none;">
			  <strong>Account deleted.</strong>
			</div>
			Looking to delete your bump account? Click the button below.
			<br>
			<a class="btn btn-danger" style="margin-top:20px" onclick="confirm_delete_account()">Delete Account</a>
		</div>
	</div>
</div>

</form>

<div class="row">
	<div class="span4">

		<div id="validationError" class="alert alert-error" style="display:none;">
			<strong>Settings not saved!</strong>&nbsp; Fix the errors and try again.
		</div>
		
		<div id="submitError" class="alert alert-error" style="display:none;">
			<strong>Settings not saved!</strong>&nbsp; Something went wrong.
		</div>
		
		<div id="submitSuccess" class="alert alert-success" style="display:none;">
			<strong>Settings saved.</strong>
		</div>
		
		<!--<div id="deleteConfirm" class="alert alert-block alert-error fade in" style="display:none;">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<h4 class="alert-heading">Are you sure?</h4>
			<p>If you delete your account it'll be gone forever!</p>
			<p>
				<a class="btn btn-danger" href="#">Delete Account</a> <a class="btn" href="#">Cancel</a>
			</p>
		</div>-->

	</div>
</div>

<div class="row">
	<div class="span12">
		<a class="btn btn-inverse" onclick="submit();">
			Save Changes
		</a>
	</div>
</div>

<div style="margin-bottom:25px;"></div>

{% endblock %}